<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="signup">
    <div class="field">
      <tr>
          <td>Name</td>
          <td><%= f.text_field :name, :sign => 40, :class => "testtest" %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td>Email</td>
        <td><%= f.text_field :email, :sign => 40 %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td>Profile Image URL</td>
        <td><%= f.text_field :face_url, :size => 80 %></td>
      </tr>
    </div>

    <div class="actions">
      <tr>
        <td></td>
        <td><%= f.submit %></td>
      </tr>
    </div>
  </table>
<% end %>
