
<div class="usertop">
  <div class="face"><%= image_tag @face_url, :width => 60, :height => 60, :class => "face" %></div>
  <div class="title">Hi, <%= @user.name %>!</div>
  <div><%= link_to "Edit User", edit_user_path(@user) %></div>
</div>
<div class="floatfix"></div>


<% if @user.subscriptions.length > 0 %>
  <h2>Who I'm Following</h2>
  <% for subscription in @user.subscriptions %>
    <%= subscription.subscribee.name %>
    (<%= subscription.subscribee.email %>)
    <%= link_to "Unsubscribe", subscription, :method => :delete %><br />
  <% end %>
<% end %>

<h2>Recommended Users</h2>
<% for user in @users %>
  <% if !@user.subscribees.include?(user) %>
    <%= user.name %>
    (<%= user.email %>)
    <%= link_to "Subscribe", subscriptions_path(:user_id => @user, :subscribee_id => user), :method => :post %>
    <br />
  <% end %>
<% end %>

