
<div class="usertop">
  <div class="face"><%= image_tag @face_url, :width => 60, :height => 60, :class => "face" %></div>
  <div class="title">Hi, <%= @user.name %>!</div>
  <div><%= link_to "Edit User", edit_user_path(@user) %></div>
</div>
<div class="floatfix"></div>


<% if @user.subscriptions.length > 0 %>
  <h2>Who I'm Following</h2>
  <table>
  <% for subscription in @user.subscriptions %>
    <tr>
      <td>
        <%= image_tag (subscription.subscribee.face_url.blank? ? "images/faces/default.jpg" : subscription.subscribee.face_url), :width => 32, :height => 32, :class => 'smallface' %></td>
      <td>
        <%= subscription.subscribee.name %>
        (<%= subscription.subscribee.email %>)
        <%= link_to "Unsubscribe", subscription, :method => :delete %><br />
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h2>Recommended Users</h2>
<table>
<% for user in @users %>
  <tr>
      <% if !@user.subscribees.include?(user) %>
        <td>
          <%= image_tag (user.face_url.blank? ? "/images/faces/default.jpg" : user.face_url), :width => 32, :height => 32, :class => 'smallface' %></td>
        </td>
        <td>
          <%= user.name %>
          (<%= user.email %>)
          <%= link_to "Subscribe", subscriptions_path(:user_id => @user, :subscribee_id => user), :method => :post %>
        </td>
      <% end %>
  </tr>
<% end %>
</table>
