<p id="notice"><%= notice %></p>

<p>
  <b>Subr:</b>
  <%= @subscription.subr %>
</p>

<p>
  <b>Sube:</b>
  <%= @subscription.sube %>
</p>

<p>
  <b>Latest:</b>
  <%= @subscription.latest %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
