<!DOCTYPE html>
<html>
<head>
  <title>Code With Us</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.watermark.min.js' %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="skeleton">
    <div class="toolbar">
      <div class="title"><%= link_to 'Code With Us', root_path %></div><div class="right"><%= link_to 'Users', users_path %></div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
